name: Matrix from JSON

on:
  push:
    branches:
    - main

jobs:
  generate-matrix:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
    - name: Generate matrix
      id: generate
      run: |
        # we make a JSON list of 10 strings
        echo '['$(for i in $(seq 1 10); do echo -n "\"test$i\","; done | sed 's/,$//')']' > matrix.json

    - name: Set matrix for next job
      id: set-matrix
      run: echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT

  use-matrix:
    needs: generate-matrix
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: false
    strategy:
      matrix:
        option: ${{fromJson(needs.generate-matrix.outputs.matrix)}}
    steps:
    - name: Use matrix value
      run: |
        date
        echo "Matrix value is ${{ matrix.option }}"