# This is a basic workflow to help you get started with Actions

name: print env var


on:
  workflow_dispatch:
  push:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  job:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      
      - name: test GITHUB_ENV
        run: | 
          stat $GITHUB_ENV
          echo $GITHUB_ENV
          cat $GITHUB_ENV

      - name: export env
        run: |
          set -a
          a=foo
          b=bar
          $GITHUB_WORKSPACE/.github/workflows/scripts/persist-exported-env.sh

      - name: print env
        run: | 
          echo $a
          echo $b
        
